
<div class="fluid-container">

	<div style="background-color:black">
		<h5 class="white">
			<i class="fa fa-copyright" aria-hidden="true"> 		Maitri Vora</i>
			
			<div class="white">
					Sardar Patel Institute Of Technology
			</div>
		
		</h5>
		
			
		
	</div>
</div>


<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script>
   AOS.init();
 </script>
</body>
</html>


